.table_description {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #322035;
    margin-top: 18px;
    margin-left: 3px;
}