.reset_row {
    padding: 54px 74px;
}

.big_header {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #322035;
}

.text_under {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #322035;
    padding-top: 25px;
    max-width: 400px;
}

.reset_image {
    width: 477px;
    height: 363px;
}

.reset_image_pane {
    padding-top: 47px;
}

.light_background {
    background-color: #E5E5E5;
}

.center_box {
    padding-top: 92px;
}

.logo_bg {
    width: 270px;
    height: 74px;
    padding-left: 130px;
    margin-bottom: 14px;
}

.reset_form {
    padding: 30px 35px;
    background-color: #ffffff;
    height: 320px;
    width: 455px;
    margin: 0 auto;
}

.reset_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #322035;
}

.forgot_password {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #322035;
    align-self: center;
}

.reset_extras {
    display: flex;
    justify-content: space-between;
}

.control_input {
    padding: 25px;
}

.main_row {
    height: 100vh;
}

.reset_text {
    padding-top: 18px;
}

.password .glyphicon {
    cursor: pointer;
    pointer-events: all;
  }
 

@media only screen and (max-width: 768px) {
    .reset_image {
        max-width: 385px;
    }

    .reset_row {
        padding: 54px 34px;
    }

    .logo_bg {
        float: left;
        padding-left: 24px;
    }

    .light_background {
        background-color: inherit;
    }

    .reset_row {
        display: none;
    }

    .center_box {
        padding-top: 32px;
    }

    .logo_bg {
        float: none;
    }

    .reset_form {
        width: 360px;
        padding: 30px 25px;
    }
}

/* IPAD ONLY */
@media only screen and (min-width: 700px) and (max-width: 768px) {
    .reset_row {
        display: block;
    }

    .light_background {
        background-color: #E5E5E5;
    }
}