.main_body {
    height: 100vh;
}

.first_col {
    padding: 4.5% 7.5% 0 7.5%; 
}

.big_header1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 217%;
    color: #322035;
}

.big_header2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 217%;
    color: #322035;
    margin-top: 0.5px;
}

.text_under {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 115%;
    color: #322035;
    margin-top: 7%;
    max-width: 75%;
}

.reset_password_image_pane {
    margin-top: 10%;
}

.reset_password_image {
    max-width: 80%;
}

.second_col {
    /*background-color: #E5E5E5;*/
    background-color: #f9f9fa;
}

.center_box {
    margin-top: 15%;
}

.logo_bg {
    width: 270px;
    height: 74px;
    margin-left: 30%;
    margin-bottom: 1.5%;
}

.reset_password_form {
    padding: 35px 40px;
    background-color: #ffffff;
    height: 350px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 3px 4px 5px grey;
}

/*.form_title_box {
    padding-top: 18px;
}*/

.form_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #322035;
}

.password_box{
    padding-top: 17px;
    width: 400px;
}

.control_input {
    padding: 25px;
}

.button_box{
    padding-top: 20px;
    padding-right: 20px;
    float: right;
}

.button {
    padding: 15px 35px;
}

.button_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

reset_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #322035;
}

.control_input {
    padding: 25px;
}

/* IPAD ONLY */
@media only screen and (min-width: 700px) and (max-width: 768px) {
    .first_col {
        display: block;
    }
}